
.ant-picker {
    width: 180%;
    height: 36px !important;
}

.ant-input-affix-wrapper > input.ant-input {
    height: 30px !important;
    padding-bottom: 0px !important;

}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 40px !important;
}

.ant-picker-range {
    position: relative;
    display: inline-flex;
    width: 100% !important;
}

.ant-spin {
    color:#a3240e !important;
}
.ant-spin-dot-item {
    background-color:#0ea319 !important;
}
.admin-report-container{
    margin-top:20px;
  }