@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
  font-family: "inter-black";
  src: url("./assets/fonts/Inter-Black.ttf");
}
@font-face {
  font-family: "inter-bold";
  src: url("./assets/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "inter-extrabold";
  src: url("./assets/fonts/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "inter-extralight";
  src: url("./assets/fonts/Inter-ExtraLight.ttf");
}
@font-face {
  font-family: "inter-medium";
  src: url("./assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "inter-regular";
  src: url("./assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "inter-semibold";
  src: url("./assets/fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "inter-thin";
  src: url("./assets/fonts/Inter-Thin.ttf");
}

html,
body {
  font-family: "inter-regular" !important;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #0B3D3B;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #94BB0D;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
/* Default (light mode) styles */
.ant-table-thead > tr > th {
  background-color: white;  /* Light mode background */
  color: black;             /* Light mode text color */
}

/* Dark mode styles */
.dark .ant-table-thead > tr > th {
  background-color: #424242;  /* Dark mode background */
  color: white;             /* Dark mode text color */
}


/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  /* display: none; */
  border-radius: 12px;
}

.dark ::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-track:hover {
  display: block;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0B3D3B;
  /* display: none; */
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0B3D3B;
  border-radius: 12px;
  display: block;
}

/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

.mobile-modal-header {
  display: flex;
  align-items: flex-end;
  justify-items: end;
  justify-content: flex-end;
}

.close-button {
  border-radius: 100%;
}

.ant-progress {
  margin-top: -10px !important;
}
.ant-progress-outer,
.ant-progress-inner,
.ant-progress-bg-outer {
  border-radius: 0px !important;
}

.ant-input-outlined:focus,
.ant-input-outlined:focus-within{
  box-shadow: none !important;
}

.ant-input-group-wrapper-outlined .ant-input-group-addon:first-child {
  background-color: #e8e8e8 !important;
}

.dark .ant-input-group-wrapper-outlined .ant-input-group-addon:first-child {
  background-color: #1f1f1f !important;
}

.ant-table-thead tr > th {
  padding: 0.8rem !important;
}
.ant-drawer .ant-drawer-content {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.test-key .ant-input-group-wrapper-outlined .ant-input-group-addon {
  background: #E8E8E8 !important;
}

.ant-pagination-prev  {
  margin-top: 5px !important;
}
.ant-pagination-next{
  margin-top: 5px !important;
}

.ant-pagination .ant-pagination-item{
  margin-top: 4px !important;
}

.animated-bar {
  height: 100%;
  transition: width 1.5s ease-in-out;
  animation: slideIn 1.5s ease-in-out forwards;
}

/* global link color */
a {
  color: #0B3D3B;
}

a:hover {
  color: #94BB0D;
}
/* ----------------- */

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
