@font-face {
  font-family: "GelionRegular";
  src: url("./fonts/Gelion-Regular.ttf") format("truetype");
  font-style: normal;
}

.xpress-container {
  font-family: 'GelionRegular' !important
}

.notFound-container {
  display: flex;
  justify-content: space-between;
}

.notFound-content {
  display: flex;
  justify-content: center;
  margin-top: 20;
}

.ant-btn-primary {
  color: #fff;
  border-color: green !important;
  background: green !important;
}

.introjs-tooltip {
  width: 200px !important;
  min-width: 100px !important;
}

.introjs-button {
  text-shadow: none !important;
  color: white !important;
  cursor: pointer;
  background-color: green !important;
  border-radius: 5px !important;
  line-height: 1.5715 !important;
  position: relative;
  display: inline-block !important;
  font-weight: 400 !important;
  white-space: nowrap !important;
  text-align: center;
  background-image: none;
  height: 20px !important;
  border: 1px solid green !important;
  box-shadow: 0 2px 0 green !important;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  border-color: green !important;
}

.tab-pane {
  color: #2B872B;
  font-size: 16px;
}

.ant-tabs-tab:hover {
  color: #2B872B !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2B872B !important;
}

.ant-tabs-tab .ant-tabs-tab-active {
  border-color: #2B872B !important;
  border-bottom: 3px solid #2B872B;
}
.null-btn:hover {
  background-color: #C4C4C4 !important;
  color: #575F6E !important;
  border-color: none !important;
}

.ant-tabs-tab-active {
  border-bottom: 3px solid#2b872b !important;
  border-color: #2b872b !important;
  z-index: 1;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2b872b !important;
  border-color: #2b872b !important;
}
.ant-checkbox-checked .ant-checkbox-inner:hover {
  border-color: #2b872b !important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(44, 103, 44); 
  border-radius: 10px;
}
.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid green !important;
}