.xpress-pay-container {
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: auto;
    height: 100vh;
} 
.xpress-bread-crumb{
    display:none;
}
@media screen and (max-width: 800px) {
    .xpress-pay-page-body {
        grid-template-rows: 50px auto;
    }
    .xpress-pay-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        height: 100vh;
    }
    .xpress-menu{
        display: none;
    }
    .xpress-account-section{
        display:none !important;
    }
    .xpress-bread-crumb{
        display:block;
    }
  }

.xpress-menu {
    background-color: #124B13;
}

.xpress-pay-page-body {
    display: grid;
    grid-template-rows: 7% 89%;
    grid-template-columns: 100%;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout.ant-layout-has-sider {
    min-height: 730px;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #124B13 !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #2e8630 !important;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
    background: #124B13 !important;
}

.trigger {
    margin-left: 15px;
}

.ant-layout-sider {
    position: relative !important;
    transition: all 0.2s !important;
    background: rgb(18, 75, 19) !important;
    flex: 0 0 200px !important;
    width: 200px !important;
}

.ant-menu {
    font-size: 13px !important;
    background-color: #124B13;
    ;
}

.xpress-user-title {
    width: 180px;
    z-index: 1;
    height: 50px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    background: white
}

.xpress-crumb {
    transition: opacity 0.3s ease 0s;
    opacity: 1;
    align-self: center;
    display: flex;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 0;
    font-size: 0px;
    user-select: none;
    margin: 0px 2px;
}

.xpress-header {
    width: 100% !important;
    padding: 0px;
    background: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.xpress_account-dropdown{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: white;
    width: 270px;
    height:auto;
}
.xpress_notification-dropdown{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: white;
    width: 270px;
    height:300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.xpress-logout:hover{
    background: rgb(234, 233, 231);
}
.xpress-settings:hover{
    background: rgb(234, 233, 231);
}
.xp_notification:hover{
    text-decoration: underline;
}

.ant-table-thead > tr > th {
    position: relative;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.3s ease;
    font-weight: bold !important;
  }
  .ant-table-pagination.ant-pagination {
    margin: 16px 0;
    justify-content: center;
  }
   .ant-pagination-next {
    border: none;
    background: green;
    width: 100px;
    border-radius: 5px !important;
    color: white !important;
  }
  a{
    color: white;
  }
  .ant-pagination-prev{
    background: #F8F8F8;
    border: 1px solid #C4C4C4;
    width: 100px;
    border-radius: 5px !important;
    color: #575F6E !important;
  }
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    position: relative;
    padding: 5px 16px !important;
    overflow-wrap: break-word;
  }

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    color: white !important;
}
.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
    color: white !important;
}